body { 
 font-family: sans-serif;
 text-align: center; 
 color: DimGray; 
 font-size: 1em;
}

h1 { 
 font-size: 2em;
}

h2 { 
 font-size: 1.5em;
}

a {
 color: gray; 
 font-size: 1em;
}

.container {
  display: table-cell;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  background-color: Gainsboro;
  
  padding: 20px;
  border-color: Gray;
  box-shadow: 5px 5px 5px DarkSlateGray;
}
